CritLang/bin
CritLang/obj
.vs
crit.exe
CritLang/Properties/PublishProfiles/FolderProfile.pubxml
CritLang/Properties/PublishProfiles/FolderProfile.pubxml.user
CritLang/CritLang.csproj.user
CritLang/Content/ola.txt

.antlr